%p{:id => "notice"}
  = notice

%p
  %b Название
  = @work.title
%p
  %b Описание
  = @work.describe
%p
  %b Вид работы
  = @price.price
%p
  %b Ссылка
  = @work.link
%p
  %b Компания
  = @work.client.title

= link_to 'Edit', edit_work_path(@work) |
= link_to 'Back', works_path
